

.NavBar {
  background-color: #000000;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2vmin;
  font-size: 2vmin;
  /* border: 2px solid red */
}

.NavBar {
  a {
    border-radius: 0.8vmin;
    padding: 0.5vmin 1.5vmin;
    text-decoration: none;
    color: #1a1a1a;
  }

  a:hover {
    background-color: #b3e6fa;
    color: #000000;
  }

  a.active {
    background-color: #1d9bd6dc;
    color: #000000;
  }

  span {
    background-color: #000000;
    color: white;
  }
}

.navlink-button {
  background-color: black;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  text-decoration: none;
}