/* html,
body,
#root {
  height: 100%;
  margin: 0;
} */


.App {
  display: grid;
  grid-template-rows: auto auto;
}

#main-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}